<div class="container">
    <p class="myname">name here</p>
    <ul class="list-class">
        <li>
            <a class="custom-class" routerLink="/about" routerLinkActive="text-dark" >
                <span class="spantest">About</span>
            </a>
        </li>
        <li>
            <a routerLink="/portfolio" routerLinkActive="text-dark" >Portfolio</a>
        </li>

        <li>
            <a href="mailto:youremail@example.com" class="email-button">
                <button type="button">Contact Me</button>
            </a>
        </li>
    </ul>
    <div class="socialmedia">
        <li>
            <a href="//linkedin.com" target="_blank">
                <img src="../../assets/linkedin_icon.png" width="20" height="20" alt="linkedin_icon">
            </a>
        </li>
        <li>
            <a href="//github.com" target="_blank">
                <img src="../../assets/github_icon.png" width="20" height="20" alt="github_icon">
            </a>
        </li>
    </div>
</div>