<div class="flex flex-col h-screen rounded-md sticky top-0 justify-between ml-6">
    <div class="flex flex-col bg-slate-800 text-slate-300 mr-12 ml-10 px-5 rounded-md sticky top-0">
        <p class="mt-2 pt-2">name here</p>
        <p class="mb-2 pb-2">title here</p>
    
        <div class="flex flex-col items-start">
            <a class="my-1 mx-1 px-2 hover:bg-yellow-300 hover:text-slate-900 rounded" routerLink="/about" routerLinkActive="text-dark" >About</a>
            <a class="my-1 mx-1 px-2 hover:bg-yellow-300 hover:text-slate-900 rounded" routerLink="/portfolio" routerLinkActive="text-dark">Portfolio</a>
            <a class="my-1 mx-1 px-2 py-1 bg-slate-500 text-slate-50 border-2 border-gray-950 rounded-md hover:bg-green-500 hover:text-slate-900" href="mailto:youremail@example.com">
                <button type="button">Contact Me</button>
            </a>
        </div>
    
        <div class="my-2">
            <a class="inline-block ml-2 hover:bg-slate-600 p-1 rounded-xl" href="//linkedin.com" target="_blank">
                <img src="../../assets/linkedin_icon.png" width="32" height="32" alt="linkedin_icon">
            </a>
            <a class="inline-block hover:bg-slate-600 p-1 rounded-xl" href="//github.com" target="_blank">
                <img src="../../assets/github_icon.png" width="32" height="32" alt="github_icon">
            </a>
        </div>
    </div>
</div>