<!-- Project Name -->
<div class="flex">
    <a (click)="navigateToDioramaDetails(diorama.name)">
        <div class="bg-slate-700 text-slate-300 max-w-72 px-4 pt-4 rounded-md hover:bg-slate-500">
            <div class="flex flex-col items-center">
                <img class="md:max-w-64 max-h-36" src="{{diorama.coverimage}}" />
            </div>
            <div class="flex flex-col items-center py-2">
                <h3 class="font-bold">{{diorama.name}}</h3>
            </div>
        </div>
    </a>
</div>